body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none !important;
  }
  
  footer {
    background-color: #d5c4c4;
    color: #4d4d4d;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  footer a {
    color: #4d4d4d;
    font-weight: bold;
  }
  
  footer a:hover {
    color: #000;
  }
  