/* Contact.css */
.container {
    margin-top: 20px;
  }
  
  h2 {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    color: #4d4d4d;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
  }
  