.navbar {
    background-color: #d5c4c4 !important;
  }
  
  .nav-link {
    color: #4d4d4d !important;
    font-weight: bold;
    margin-right: 15px;
  }
  
  .nav-link:hover {
    color: #000 !important;
  }
  
  .navbar-brand {
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333 !important;
    
  }
  